#header{
  text-align: center;
}

#Day {
  display: flex;
  flex-direction: row;
  align-content: baseline;
  align-items: flex-end;
  justify-content: center;
  width:30%;
  height:30%;
  padding: 75px;
  outline: auto;
}

#Week {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#Month {
  display: flex;
  text-align: center;
  align-items:flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#task-form-input {
  width:75%;
}

#task-form{
  position:relative;
  top:-75px
}


#App{
  justify-content: center;
}